#messageArea, #messageArea input {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    background-color: aquamarine;
    outline: none;
    border: none;
    padding: 5px 20px;
    font-size: 24px;
}

#messages {
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 50px;
    height: calc(100% - 30px);
}